{% extends "layout.html" %}

{% block pagestyles %}

<!-- Our own styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<!-- <style>
    html, body {
        height: 100%;
        margin: 0;
    }
    #map {
        width: 600px;
        height: 400px;
    }
</style>

<style>#map { width: 800px; height: 500px; }
.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }</style> -->

{% endblock %}

{% block content %}

<!-- see https://www.w3schools.com/bootstrap/default.asp for information -->


<!-- Header -->

<div class="jumbotron text-center" style="margin-bottom:0">
    <h2>Big Data Visualization</h2>
    <h5>Visualising Covid19 model with D3</h5>
</div>

<!-- Navigation -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <p>Navigation</p>
</nav>

<!-- Container -->

<div class="container" style="margin-top:30px">
    <p>Container</p>
    <br>
        <div class="row" id="vis1_id"></div>
        <br>
        <div class="row" id="vis2_id"></div>
    <br>
</div>

<!-- Footer  -->

<div class="jumbotron text-center" style="margin-bottom:0">
    <p>Footer</p>
</div>

<!-- now, the Javascript code to deal with user interface / visualization -->

    <!-- for D3 visualization -->

    <!-- <script src="https://d3js.org/d3.v5.js"></script> -->
    <!-- note: if wanted, the line above can be moved to the layout.html file -->
    <script src="{{ url_for('static', filename='dist/js/d3.min.js') }}"></script>

    <!-- our own JavaScript functions -->

    <!-- <script src="{{ url_for('static', filename='js/covid19/vismodel.js') }}"></script> -->

    <script src="{{ url_for('static', filename='js/covid19/map.js') }}"></script>

    <!-- this is where data is passed from Flask templates to our js code -->
    <!-- drawMultiseries([{{ data | safe }}]); -->
    <script>
        
        drawMap([{{ data | safe }}])
    </script>

{% endblock %}
